body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #922b21;
  background-image: url('images/marssurface.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
}

.aboutwrapper {
  background-color: gainsboro;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 3rem;
}

.closer {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  color: lightcoral;
  border: 2px solid black;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
}

.backdrop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  margin-left: -200px;
  height: 100vh;
  width: 200vw;
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  background: white;
  padding: 30px;
  width: 500px;
  top: 80px;
  left: calc(50% - 190px);
  z-index: 1;
}

.modal h1 {
  margin: 0;
}

.modal button {
  margin-top: 50px;
  background: tomato;
  color: white;
  border: 1px solid black;
  font: inherit;
  font-size: 17px;
  cursor: pointer;
}

.modal button:hover,
.modal button:active {
  background: violet;
}
.modal button:focus {
  outline: none;
}

@media (min-width: 500px) {
  .modal {
    left: calc(50% - 190px);
  }
}

hr {
  border: 2px solid black;
  margin-top: 20px;
}
.headerinfo {
  text-transform: uppercase;
  letter-spacing: 0.7px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
}

.bigheaderlink {
  text-decoration: none;
}
.bigheader {
  font-size: 70px;
  font-family: 'El Messiri', sans-serif;

  color: midnightblue;
  letter-spacing: 11px;
  text-transform: uppercase;

  height: 100px;
  padding: 30px 20px 20px 20px;
  transition: all 0.3s linear;
}

.bigheader:hover {
  color: whitesmoke;
  cursor: pointer;
}

.banner {
  background-color: #a93226;
}
.navmenu {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding-top: 30px;
  height: 28px;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.navlinks {
  text-decoration: none;
  color: black;
  font-size: 25px;
  transition: all 0.3s linear;
}

.navlinks:hover {
  color: whitesmoke;
}

nav {
  text-align: right;
}
.navbar {
  background-color: #cd6155;
  height: 100px;
  margin-top: -50px;
}

.modal {
  background-color: gainsboro;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.clue {
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

.text-center {
  text-align: center;
}

/* form */
label {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 1rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

form {
  background: var(--color-darkblue-alpha);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

.wrapper {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 45px;
}

.newtitles {
  transition: all 0.3s linear;

  padding: 20px;
}
.mainbulletin {
  height: 1000px;
}
.mainsubtitle {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 50px;

  text-align: left;
  padding: 20px 10px 0 75px;
}

h2:hover {
  color: lavender;
}

.gallery {
  padding: 2 rem;
  text-align: center;
}

.img-container {
  position: relative;
  width: 1350px;
  height: 850px;
  background-color: whitesmoke;
  margin: 0 auto;
  margin-left: -25px;
  margin-bottom: 1.5 rem;
}

#gallery-img {
  width: 100%;
  display: block;
  height: 100%;

  position: relative;
}
#gallery-img:hover {
  opacity: 70%;
  transition: all 0.3s linear;
}

.button-container-1 {
  float: left;
  margin-top: 400px;
  margin-left: -150px;
}

.button-container-2 {
  float: right;
  margin-top: 400px;
  margin-right: -150px;
}
.prev-btn,
.next-btn {
  color: gainsboro;
  font-size: 3rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: whitesmoke;
}

.learnbulletinboard {
  background-color: lightgray;
}
.learngrid {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(minmax(290px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  box-sizing: border-box;
}
.booktitle {
  font-size: 25px;
  margin-bottom: -15px;
}
.author {
  margin-bottom: -15px;
}
.bookimage {
  width: 80%;
}
.bookdescription {
  font-size: 20px;
}
.bookinfo {
  background-color: aliceblue;
  margin-top: -20;
  margin-right: 74;
  padding: 30px;
}
.item {
  text-align: left;
  padding: 20px;
  min-width: 300px;
}
.stories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-align: left;
}
.textbox {
  background-color: gainsboro;
}

.librarycardbtn {
  font-size: 25px;
  text-shadow: slategray 3px 3px;
  padding: 20px 30px 20px 30px;
  width: 320px;
  float: right;
  position: absolute;
  margin-top: -70px;
  margin-left: 300px;
  background-image: url('images/swirls-web.jpg');
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  font-weight: bold;
}

.librarycardbtn:hover {
  background-color: midnightblue;
  color: whitesmoke;
}

.browse {
  font-size: 25px;
  padding: 20px 30px 20px 30px;
  width: 300px;
  background-color: gainsboro;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: uppercase;
  font-weight: bold;
}

.footer-content {
  margin-top: -7px;
  background-color: #a93226;
  height: 400px;
  padding: 30px;
  border-top: 5px solid black;
}

.footer-left {
  float: left;
  height: 300px;
  width: 45%;
}

.footer-right {
  float: right;

  height: 300px;
  width: 45%;
}

.circle {
  margin-top: -80px;
  margin-right: 100px;
  float: right;
  height: 150px;
  width: 150px;
  background-color: #b94d27;
  border-radius: 50%;
  border: #fb9a62 solid 3px;
}

.circle2 {
  margin-top: 5px;
  float: right;
  height: 130px;
  width: 130px;
  background-color: #cc602d;
  border-radius: 50%;
}

.dot1 {
  margin-top: 80px;
  margin-left: 10px;
  height: 10px;
  width: 45px;
  background-color: #df7b39;
  border-radius: 40%;
  border: darkred solid 3px;
}
.dot2 {
  margin-top: -50px;
  margin-left: 35px;
  height: 20px;
  width: 90px;
  background-color: #db815c;
  border-radius: 40%;
}
.dot3 {
  margin-top: -27px;
  margin-left: 55px;
  height: 20px;
  width: 50px;
  background-color: #db815c;
  border-radius: 40%;
}
.dot4 {
  margin-top: -27px;
  margin-left: 55px;
  height: 5px;
  width: 25px;
  background-color: #b94112;
  border-radius: 40%;
}
.dot5 {
  margin-top: -20px;
  margin-left: 45px;
  height: 5px;
  width: 15px;
  background-color: #b94112;
  border-radius: 40%;
}

.dot6 {
  margin-top: 30px;
  margin-left: 15px;
  height: 5px;
  width: 25px;
  background-color: #b94112;
  border-radius: 40%;
}

.dot7 {
  margin-top: 35px;
  margin-left: 80px;
  height: 5px;
  width: 20px;
  background-color: #b94112;
  border-radius: 40%;
}

.dot8 {
  margin-top: 35px;
  margin-left: 65px;
  height: 5px;
  width: 15px;
  background-color: #b94112;
  border-radius: 40%;
}
.menu li {
  list-style-type: none;
  font-size: 20px;
  padding: 3px;
}

.footer-address {
  padding-top: 50px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  list-style: none;
}

.footer-visit {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: midnightblue;
  list-style: none;
  text-align: left;
  padding-top: 25px;
}

.footer-logo {
  padding-top: 100px;
  font-size: 90px;
  font-weight: bold;
  font-family: 'El Messiri', sans-serif;
  text-align: left;
  list-style: none;
  line-height: 60px;
}

.footer-logo:hover {
  color: lavender;
}

.footer-subtitle {
  text-transform: uppercase;
  text-align: left;
  font-family: 'El Messiri', sans-serif;
  list-style: none;
}
.footerlink {
  color: black;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  text-align: left;
  padding: 50px 7px 7px 7px;
}

@media (min-width: 680px) {
  .stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
