body {
  background-color: black;
  margin: 25px 25px 25px 25px;
}
.headerinfo {
  letter-spacing: 0.7px;
  height: 50px;
  font-size: 20px;
  margin-left: 20px;
  text-align: left;
  margin-bottom: 10px;
}
.topwrapper {
  background-color: #a93226;
  margin-bottom: -70px;
}

.mainsubtitle {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.1;
  padding: 20px;
}

.navmenu {
  margin-top: 70px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  background-color: #fb9a62;
  line-height: 3em;
}

nav li {
  display: inline-block;

  font-size: 20px;
}

.navlinks {
  text-decoration: none;
  color: black;
  font-size: 25px;
  transition: all 0.3s linear;
}

.navlinks:hover {
  color: whitesmoke;
}
nav a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}
.bigheaderlink {
  text-decoration: none;
}
.bigheader {
  font-size: 40px;
  font-family: 'El Messiri', sans-serif;
  text-align: center;
  color: midnightblue;
  letter-spacing: 11px;
  text-transform: uppercase;

  height: 100px;
  padding: 30px 20px 20px 20px;
  transition: all 0.3s linear;
}
.bigheader:hover {
  color: whitesmoke;
  cursor: pointer;
}

.librarycardbtn {
  font-size: 20px;
  color: gainsboro;
  padding: 10px;
  margin-top: 10px;
  background-image: url('images/marssurface.jpeg');
  border-radius: 4px;
  transition: all 0.3s linear;
  padding: 20px 30px 20px 30px;
  font-weight: bold;
}
.librarycardbtn:hover {
  color: #a93226;
}

/*modal*/

.closer {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  color: lightcoral;
  border: 2px solid black;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
}

.backdrop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  margin-left: -200px;
  height: 100vh;
  width: 200vw;
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  background: white;
  padding: 30px;
  width: 300px;
  top: 80px;
  left: calc(50% - 190px);
  z-index: 1;
}

.modal h1 {
  margin: 0;
}

.modal button {
  margin-top: 50px;
  background: tomato;
  color: white;
  border: 1px solid black;
  font: inherit;
  font-size: 17px;
  cursor: pointer;
}

.modal button:hover,
.modal button:active {
  background: violet;
}
.modal button:focus {
  outline: none;
}

/* footer */

.footer-content {
  background-color: #a93226;
  height: 400px;
  padding: 30px;
  border-top: 5px solid black;
}

.menu a {
  list-style-type: none;
  color: black;
}

.menu-list-one {
  list-style-type: none;
  margin-top: 30px;
}

.menu-list-two {
  list-style-type: none;
}

.menu-list-three {
  list-style-type: none;
}

.footer-address {
  font-weight: bold;
  text-transform: uppercase;

  list-style: none;
}

.footer-visit {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: midnightblue;
  list-style: none;
}

.footer-logo {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'El Messiri', sans-serif;

  list-style: none;
  line-height: 60px;
}

.footer-subtitle {
  margin-top: -20px;
  list-style-type: none;
}
/* image */
.img-container {
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 15px;
}
img {
  max-width: 550px;
}

.libraryphoto:hover {
  transition: all 0.3s linear;
  opacity: 90%;
}
/* buttons */
.prev-btn,
.next-btn {
  color: black;
  font-size: 1rem;
  background: transparent;
  border-color: transparent;
  padding: 20px;
}

.button-container-1 {
  float: left;
}

.button-container-2 {
  float: right;
  margin-right: 500px;
}
.button-container {
  display: flex;
  margin-left: 200px;
}

/* new titles */
.learnbulletinboard {
  margin-top: 70px;
}

.newtitles {
  background-color: gainsboro;
  padding: 30px;
  text-transform: uppercase;
  border-bottom: black 2px solid;
}

.stories {
  background-color: lightgrey;
  margin-bottom: -15;
  padding-bottom: 50;
  margin-top: -20;
  padding-top: 30;
  padding-left: 20;
}

.item {
  text-align: center;
  padding: 40;
  margin-right: 40;
}

.bookdescription {
  padding: 40;
  margin-top: -70;
  font-size: 20px;
  text-align: left;
}

.bookimage {
  min-width: 318;
}

.booktitle {
  font-size: 20;
}

.bookinfo {
  background-color: gainsboro;
  margin: 45;
  margin-top: -15;
  padding-top: 10px;
}

/* cssplanet */

.circle {
  margin-top: -170px;
  margin-left: 200px;

  height: 150px;
  width: 150px;
  background-color: #b94d27;
  border-radius: 50%;
  border: #fb9a62 solid 3px;
}

.circle2 {
  margin-top: 5px;
  float: right;
  height: 130px;
  width: 130px;
  background-color: #cc602d;
  border-radius: 50%;
}

.dot1 {
  margin-top: 80px;
  margin-left: 10px;
  height: 10px;
  width: 45px;
  background-color: #df7b39;
  border-radius: 40%;
  border: darkred solid 3px;
}
.dot2 {
  margin-top: -50px;
  margin-left: 35px;
  height: 20px;
  width: 90px;
  background-color: #db815c;
  border-radius: 40%;
}
.dot3 {
  margin-top: -27px;
  margin-left: 55px;
  height: 20px;
  width: 50px;
  background-color: #db815c;
  border-radius: 40%;
}
.dot4 {
  margin-top: -27px;
  margin-left: 55px;
  height: 5px;
  width: 25px;
  background-color: #b94112;
  border-radius: 40%;
}
.dot5 {
  margin-top: -20px;
  margin-left: 45px;
  height: 5px;
  width: 15px;
  background-color: #b94112;
  border-radius: 40%;
}

.dot6 {
  margin-top: 30px;
  margin-left: 15px;
  height: 5px;
  width: 25px;
  background-color: #b94112;
  border-radius: 40%;
}

.dot7 {
  margin-top: 35px;
  margin-left: 80px;
  height: 5px;
  width: 20px;
  background-color: #b94112;
  border-radius: 40%;
}

.dot8 {
  margin-top: 35px;
  margin-left: 65px;
  height: 5px;
  width: 15px;
  background-color: #b94112;
  border-radius: 40%;
}

@media only screen and (min-width: 750px) {
  .bigheader {
    font-size: 65;
  }

  .librarycardbtn {
    float: right;
    margin-top: -70;
    margin-right: 40;
  }
  .stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    text-align: left;
  }

  .item {
    margin: -25;
  }

  .libraryphoto {
    max-width: 100%;
    height: auto;
  }

  .bookinfo {
    margin-top: 10px;
  }
  .button-container {
    display: flex;
    margin-left: 500px;
    align-items: center;
    justify-content: center;
  }

  .bookimage {
    min-width: 300;
    max-width: 300;
  }

  .footer-logo {
    padding-top: 100px;
    font-size: 90px;
    font-weight: bold;
    font-family: 'El Messiri', sans-serif;
    text-align: left;
    list-style: none;
    line-height: 60px;
  }

  .footer-logo:hover {
    color: gainsboro;
    transition: all 0.3s linear;
  }

  .footer-subtitle {
    margin-top: 17px;
    text-transform: uppercase;
    text-align: left;
    font-family: 'El Messiri', sans-serif;
    list-style: none;
  }

  .footer-left {
    float: left;
    height: 100px;
    width: 45%;
  }

  .footer-right {
    float: right;
    width: 30%;
    margin-right: 45;
    height: 100px;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    text-align: left;
    padding: 50px 7px 7px 7px;
  }

  .menu a {
    font-size: 25;
  }
  .menu-list-one {
    margin-top: 20px;
  }

  .circle {
    float: right;
    margin-top: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 630px) {
  body {
    width: 95%;
  }

  .bigheader {
    font-size: 30px;
    letter-spacing: 7px;
    padding: 0;
  }

  .librarycardbtn {
    margin-top: 40;
    margin-left: 40;
  }
  .libraryphoto {
    max-width: 300;
  }
  .button-container {
    margin-left: 110;
  }
  .circle {
    margin-top: -150px;
    margin-left: 115;
  }

  .bookimage {
    min-width: 200;
    max-width: 200;
  }
  .bookinfo {
    margin: 0;
    margin-top: 0;
    padding-top: 0;
  }
  .item {
    padding: 0;
  }
}

@media only screen and (min-width: 1270px) {
  .libraryphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media only screen and (min-width: 2080px) {
  .circle {
    float: right;
    margin-top: 5px;
    margin-right: 1000;
  }
}
